*{
    margin: 0;
    padding: 0;
    font-family: 微軟正黑體;
    box-sizing: border-box;
    position: relative;
    
}
html,body{
    /* height: 100%; */
}
/* header */
.navbar{
    background-color:#3C98CC;
    width: 100%;
}
.list1,.list2{
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}
.list__item{
   padding: 50px;
   color: #fff;
   font-weight: bold;
}
.list__item:hover{
    color: #8ABFDF;
    cursor: pointer;
    transition: 0.3s;
}
.navbar__logo{
    display: inline-block;
    width: 140px;
    height: 140px;
    background: url(../img/logo_bird白.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    margin-left: 10px; 
    cursor: pointer;
}
.navbar__logo:hover{
    cursor: pointer;
}


/* jumborntron */
.jumborntron{
    background-image: url(../img/coffee.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh; 
}
.title{
    margin-top: 10%;
}
h1{
    font-size: 68px;
    color:#fff;
    text-align: center;  
}
p{
    font-size: 24px;
    color:#fff;
    text-align: center;
}
/* about */
.about{
    background: url(../img/white\ wood.jpg);
    background-position: center;
    background-size: cover;
    height: 85vh;
}
.brand{
    background-image: url(../img/服務生.jpg);
    background-size: cover;
    background-position:center;
    width: 570px;
    height: 450px;
    margin-top: 50px;
    box-shadow:5px 5px 15px #252525;
}
.text{
    font-size: 24px;
    text-align: center;
    padding-top: 50%;
}
.text__p{
    color: #252525;
}
h2{
    margin-top: 50px;
    margin-left: 450px;
    font-weight: 500;
    letter-spacing:10px;
    font-size: 48px;
    display: inline-block;
    text-align: center;

}
hr{
    border: none;
    border-top:3px solid #252525;
    margin-top: 10px;
    width: 55%;
    margin-left: 20%;
}

/* new */
.news{
    background: url(../img/dark\ wood.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.container-fluid .row{
  padding-left: 150px;
}
.image1{
    background-image: url(../img/台中新光KafeD.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
    transition: 0.8s ease;
}
.image1:hover{
    transform: scale(1.4);
}
.image2{
    background-image: url(../img/年輪蛋糕吧.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
    transition: 0.8s ease;
}
.image2:hover{
    transform: scale(1.4);
}
.image3{
    background-image: url(../img/咖啡廳內部.jpg);
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
    transition: 0.8s ease;
}
.image3:hover{
    transform: scale(1.4);
}
.card{
    width: 400px;
    height: 300px;
    margin-top: 50px;
    overflow: hidden;
}
.content{
    width: 400px;
    height: 300px;
    background-color:#8ABFDF ;
    padding-top: 40px;
}
h3{
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px auto;
}
span{
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 2.5;
}
.footer{
    background-color: #3C98CC;
    width: 100%;
    height: 100%;
}
.footer__logo{
    background-image: url(../img/logo_bird白.png);
    background-size: 60%;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-left: 150px; 
}
.container-fluid .row{
    margin-left: 30px;
  }
.contact{
    margin-top: 35px;
    font-size:18px;
    line-height: 2.5;
    letter-spacing: 3px;
    color: #fff;
}
.icon-group{
    color:#fff;
    margin-left: 120px;
    margin-top: 120px;
    font-size: 28px;
    opacity: 0.6;
}
i{
    padding: 15px;
  
}
.copy{
    color:#fff;
    font-size: 14px;
    opacity: 0.6;
}